@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Bangers);

h2 {
  font-weight: normal;
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  font-weight: bold;
  font-size: 30px;
  font-family: "Shadows into Light", cursive;
}
#header {
  font-weight: bold;
  font-size: 55px;
  text-align: center;
  color: red;
  }
#h2 {
  text-align: center;
  color: orange;
  font-size: 22px;
}
#ingrediants{
  width: 50%;
  padding: 5px;
  margin: 0px;
  box-sizing: border-box;
  float: left;
  border: solid grey 2px;
}
#directions {
  width: 50%;
  padding: 5px;
  margin: 0px;
  box-sizing: border-box;
  float: left;
  border: solid grey 2px;
}
